Flask
mysqlclient
python-dotenv
sqlalchemy
beautifulsoup4
unidecode
requests
google-api-python-client
bcrypt
pymysql
firebase-admin
gunicorn
pypdf
nltk
scikit-learn
transformers 
torch 
json
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
