body {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Bold */
}

/* styling for note cards */
.custom-border {
    border-color: #6e9fc1;
}
.custom-border:hover {
    background-color:#6e9fc1;
}

/* styling for sign in page buttons */
#login-button {
  background-color: #395a7f;
}

#login-button:hover {
  background-color: #2d4d6a;
}

#signup-button {
  border-color: white;
  color: white;
}

#signup-button:hover {
  background-color: white;
  color: #395a7f;
}

/* styling for inbox page */
.inbox-container {
  height: 100vh;
}
.inbox-list {
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.message-details {
  overflow-y: auto;
}
.inbox-list .list-group-item {
  cursor: pointer;
}
.inbox-list .list-group-item:hover {
  background-color: #f8f9fa;
}

/* styling for quiz page */
.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.question {
  margin-bottom: 20px;
}
.options {
  list-style-type: none;
  padding: 0;
}
.options li {
  margin-bottom: 10px;
}
.submit-btn, .next-btn, .back-btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* styling for note info sidebar on note page */
#Note-Info-Sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  position: sticky;
  top: 20px; /* Keeps it at the top of the viewport when scrolling */
  height: calc(100vh - 40px); /* fit in screen */
  overflow-y: auto;
}

.sidebar {
  height: calc(100vh - 40px); /* fit in screen */
  overflow-y: auto;
}

/* credits to the reference - https://wavier.art */
.wave-container {  
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecee;
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 101px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23ffffff'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 50.5px
    }  
  }