<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <link rel="stylesheet" href="static/styles.css">
        <title>{{course_number}}</title>
    </head>

    <body>
        {% include 'header.html' %}

        <!-- Course Details Section -->
        <div id="Course-Details-Section" style="background-color: #f0f0f0; padding: 20px;">
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{ course.id }}: {{ course.name }}</h2>
                        <p>Number of Notes: {{ note_count }}</p>
                    </div>
                    
                    <div class="col-md-6">
                        <form class="d-flex" id="seachForm" onsubmit="submitSearch(event)">
                            <input class="form-control me-2" type="search" placeholder="Search" name="query" id="searchQuery" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        
                        <form id="tagForm" action="/{{ course.id }}" method="POST">
                            <input type="hidden" name="tag" id="selectedTag">
                            <select class="form-select" name="tag" id="tag" onchange="getTagUpdate()" style="width: 200px; margin-top: 10px;">
                                <option value="" selected>No Filter</option>
                                <option value="All Tags">All Tags</option>
                                {% for tag in tags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                {% endfor %}
                            
                            </select>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" style="font-size: 20px;">Notes</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" style="font-size: 20px;">Discussion</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" style="padding-top: 40px;">
                <!--Notes Section-->
                <div id="Notes-Section">
                    {% set bookmark = True %}
                    <div class="container-fluid px-4">
                        <div class="row">
                            {% with bookmark=bookmark %}
                                {% for i in range(notes|length) %}
                                    {% set note = notes[i] %}
                                    {% set bookmarkStatus = bookmark_status_list[i] %}
                                    {% include 'note-card.html' %}
                                {% endfor %}
                            {% endwith %} 
                        </div>    
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" style="padding-top: 40px;">
                <!--Discussion Section-->
                <div id="Discussion-Section">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <!-- New Discussion Post Form -->
                            <form onsubmit="return validateDiscussionPostForm()" id="discussionForm" action="/{{ course.id }}" method="POST" style="margin-bottom: 20px;">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="discussionTitle" name="discussionTitle" placeholder="Title of your post">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" id="discussionMessage" name="discussionMessage" rows="3" placeholder="Start your discussion post here..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                            </form>
                        </div>
                        <div class="row">
                            {% for post in discussion_posts %}
                                {% include 'discussion-post-card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        


    </body>

    <script>
        function getTagUpdate(){
            var tagName = document.getElementById("tag").value;
            document.getElementById("selectedTag").value = tagName; // Set the hidden input value
            document.getElementById("tagForm").submit(); // Submit the form

        }

        function submitSearch(event) {
        event.preventDefault();
        var searchQuery = document.getElementById("searchQuery").value.trim().toLowerCase(); // getting the searched words and setting them to lowercase

        // if the textbox is not blank, do the following
        if (searchQuery !== "") {
            var cardTitles = document.querySelectorAll('.card-title'); //get title of notes on the page
            
            // for each card, get the title. If the title includes what was in the query, then it should be displayed
            cardTitles.forEach(function(titleElement) {
                var card = titleElement.closest('.card');
                var title = titleElement.textContent.trim().toLowerCase();
                if (title.includes(searchQuery)) {
                    card.style.display = 'block'; // show the card if the title matches the search query
                } else {
                    card.style.display = 'none'; // hide the card if the title does not match
                }
            });
        } else {
            // if search query is empty, show all cards
            var cards = document.querySelectorAll('.card');
            cards.forEach(function(card) {
                card.style.display = 'block';
            });
        }
    }

    function validateDiscussionPostForm(){
        var title = document.getElementById("discussionTitle").value;
        var message = document.getElementById("discussionMessage").value;
        if (title === "" || message === "") {
            alert("Title and message must be filled out");
            return false;
        }
        return true;
    }

    </script>

</html>