<div class="col-12 mx-3 mx-auto mb-3">
    <div class="card" style="border-color: #6e9fc1;">
        <div class="card-body row">

            <!--user who made the post and the discussion topic-->
            <div class="col-6">
                
                <p id="Username">Created By: {{post.get_student_name()}}</p>

                <h4 class="card-title">{{post.title}}</h4>
                <br>
                <p id="message">{{post.message}}</p>

            

                <!--number of comments and link to see comments dropdown-->
                <p class="d-inline-flex gap-1">
                    <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#collapse{{post.dp_id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{post.get_comments_on_post() | length}} Comments
                    </a>
                </p>

                

                <!-- Collapsible section for comments and form -->
                <div class="collapse" id="collapse{{ post.dp_id }}">

                    <!-- comment form -->
                    <form action="/{{ course.id }}" method="POST" class="d-flex align-items-center gap-2" style="margin-top: 10px;">
                        <input type="hidden" name="discussionPostID" value="{{ post.dp_id }}">                
                        <textarea class="form-control" id="commentMessage" name="commentMessage" rows="1" placeholder="Write a comment..." style="resize: none;"></textarea>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Submit</button>
                    </form>

                    <!-- comments list -->
                    {% for comment in post.get_comments_on_post() %}
                        <div class="card card-body" style="margin-top: 10px;">
                            {{ comment.message }} - {{ comment.get_student_name() }}
                        </div>
                    {% endfor %}
                    
                </div> 



            </div>
            
        </div>
    </div>

</div>