<div>
    <header class="p-3" style="background-color: #395a7f;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">

                <div class="d-flex align-items-center me-4">
                    <img src="static/noteIcon.png" alt="Note Icon" width="40" height="32" class="me-2">
                    <h1 class="text-white h4 mb-0">Rattler NoteHub</h1>
                </div>

                <ul class="nav col-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/guidelines" class="nav-link px-2 text-white">Guidelines</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <a class="btn btn-outline-light me-2" href="/inbox" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-inboxes-fill" viewBox="0 0 16 16">
                            <path d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
                        </svg>
                    </a>
                    <a class="btn btn-outline-light me-2" href="/logout" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header>
</div>