<div>
    <header class="p-3" style="background-color: #395a7f;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <img src="static/noteIcon.png" alt="Note Icon" width="40" height="32" class="me-2">
            
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/guidelines" class="nav-link px-2 text-white">Guidelines</a></li>
                </ul>
        
                <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-light me-2">Logout</button>
                </div>
            </div>
        </div>
    </header>
</div>