<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <link rel="stylesheet" href="static/styles.css">
        <title>Inbox</title>
    </head>

    <body>
        <!--header-->
        {% include 'header.html' %}
        
        <!-- inbox page -->
        <div class="container-fluid inbox-container">
            <div class="row h-100">
                <!-- inbox list content-->
                <div class="col-4 inbox-list p-3">
                    <h4>Inbox</h4>
                    <div class="list-group" id="inboxList">
                        
                        <!-- messages -->

                        {% for notification in notifications %}
                            {% include 'notification-message-item.html' %}
                        {% endfor %}

                    </div>
                </div>
        
                <!-- Message Details -->
                <div class="col-8 message-details p-3" id="messageDetails">
                    <!-- Default message -->
                    <div class="no-message" id="defaultMessage">No message selected</div>
                    <!-- Message content -->
                    <div id="messageContent" class="d-none">
                        <h4 id="messageTitle"></h4>
                        <p><small>From: <span id="messageSender"></span> | Sent: <span id="messageTime"></span></small></p>
                        <hr>
                        <p id="messageBody"></p>
                        <button type="submit" class="btn" id="original-post-btn" 
                        style="color: white; background-color: #395a7f;">
                        Original Post
                        </button>
                        <button class="btn btn-outline-secondary" id="delete-btn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        


    </body>

    <script>

        let selectedMessageId = null;

        // JS to handle dynamic message display
        document.querySelectorAll('#inboxList .list-group-item').forEach(item => {
            item.addEventListener('click', () => {
                const title = item.getAttribute('data-title');
                const message = item.getAttribute('data-message');
                const sender = item.getAttribute('data-sender');
                const time = item.getAttribute('data-time');
                const id = item.getAttribute('data-id');
                const checkId = item.getAttribute('data-check-id');

                const notificationId = item.getAttribute('id');
                selectedMessageId = notificationId;

                // message details
                document.getElementById('messageTitle').textContent = title;
                document.getElementById('messageBody').textContent = message;
                document.getElementById('messageSender').textContent = sender;
                document.getElementById('messageTime').textContent = time;
                if (item.getAttribute('data-check-id') === 'true') {
                    document.getElementById('original-post-btn').setAttribute('onclick', `window.location.href='/viewnote${id}'`);
                } else {
                    document.getElementById('original-post-btn').setAttribute('onclick', `window.location.href='/${id}'`);
                }
                
    
                // Toggle visibility
                document.getElementById('defaultMessage').classList.add('d-none');
                document.getElementById('messageContent').classList.remove('d-none');
            });
        });

        
        function deleteNotification() {
            var confirmation = confirm("Are you sure you want to delete this message?");
            if (confirmation && selectedMessageId) {
                fetch(`/delete_notification/${selectedMessageId}`, {
                    method: 'POST'
                })
                .then(response => {
                    if (response.status === 200) {
                        // remove the message from the list
                        document.getElementById(selectedMessageId).remove();

                        // reset the message display
                        document.getElementById('messageContent').classList.add('d-none');
                        document.getElementById('defaultMessage').classList.remove('d-none');
                    } else {
                        alert('Failed to delete message.');
                    }
                });
            }
        }

        document.getElementById('delete-btn').addEventListener('click', deleteNotification)



    </script>

</html>
