<!-- Note Info Sidebar -->
<div id="Note-Info-Sidebar" style="background-color: #f0f0f0; padding: 20px;">
    <h2>Title:</h2>
    <p>{{ note.title }}</p>
    <hr class="blackline">

    <h2>Date:</h2>
    <p>{{ note.created_at }}</p>
    <hr class="blackline">

    <h2>Tags:</h2>
    <p>
        {% for tag in tags %}
            {{ tag }},
        {% endfor %}
    </p>
    <hr class="blackline">

    <h2>Description:</h2>
    <p>{{ note.description }}</p>
    <hr class="blackline">

    <h2>Visibility:</h2>
    <p>
        {% if note.visibility %}
            <p>Public</p>
        {% else %}
            <p>Private</p>
        {% endif %}
    </p>
</div>