<a  class="list-group-item list-group-item-action" 
    data-title="{{notification.title}}" 
    data-message="{{notification.message}}" 
    data-sender="Rattler NoteHub" 
    data-time="{{notification.time_ago}}" 
    {% if notification.note_id %}
        data-id="{{notification.note_id}}" 
    {% else %}
        data-id="{{notification.course_id}}" 
    {% endif %}
    data-check-id="{{'true' if notification.note_id else 'false'}}">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{notification.title}}</h5>
        <small>{{notification.time_ago}}</small>
    </div>
    <p class="mb-1 text-muted">{{notification.message}}</p>
</a>