<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <link rel="stylesheet" href="static/styles.css">
        <title>Rattler NoteHub</title>
    </head>
    
    <style>
        body{
        background: #395a7f;
        }
     </style>
        <body>
            <h1 style="color: white; text-align: center; padding-top: 20px;">Sign Up</h1>
            <p></p>

            <!--checking to see if there are any flash messages. If so, display alert -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        alert('{{messages[0]}}') // sending flash message as an alert to the user
                    </script>
                
                {% endif %}
            {% endwith %}


            <form id="studentForm" action="/add_user" method="POST" onsubmit="return validateForm();">
                <center><label for="fname" style="color: white;">First Name:</label><br></center>
                <center><input type="text" id="fname" name="fname"><br></center><br>
                <center><label for="lname" style="color: white;">Last name:</label><br></center>
                <center><input type="text" id="lname" name="lname"><br></center><br>
                <center><label for="StudentID" style="color: white;">Student ID:</label><br></center>
                <center><input type="text" id="StudentID" name="StudentID"><br></center><br>
                <center><label for="Email" style="color: white;">Email:</label><br></center>
                <center><input type="text" id="Email" name="Email"><br></center><br>
                <center><label for="Pword" style="color: white;">Password:</label><br></center>
                <center><input type="text" id="Pword" name="Pword"><br></center><br>
                <center><input type="submit" value="Submit"><br><br></center>
            </form>

        </body>
        

        <script>

            function validateForm() {
                // getting values from the form
                var fname = document.getElementById("fname").value;
                var lname = document.getElementById("lname").value;
                var studentID = document.getElementById("StudentID").value;
                var email = document.getElementById("Email").value;
                var pword = document.getElementById("Pword").value;


                // check if fields are left empty
                if (fname.trim() === '' || lname.trim() === '' || studentID.trim() === '' || email.trim() === '' || pword.trim() === '') {
                    alert("Please fill in all fields.");
                    return false; // prevent form submission
                }
                // checks if student ID is a 6 digit integer
                else if (!/^\d{6}$/.test(studentID)) {
                    alert("Student ID must be a 6-digit integer.");
                    return false; // prevent form submission
                }
                else{
                    return true; // form is ready for submission
                }

            }

        </script> 

    </body>
</html>