<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <link rel="stylesheet" href="static/styles.css">
        <title>Rattler NoteHub</title>
    </head>
    
    <style>
        body{
        background: #395a7f;
        }
     </style>
        <body>
            <h1 style="color: white; text-align: center;">Sign Up</h1>
            <p></p>
        </body>
        
        <form>
            <center><label for="fname" style="color: white;">First Name:</label><br></center>
            <center><input type="text" id="fname" name="fname"><br></center><br>
            <center><label for="lname" style="color: white;">Last name:</label><br></center>
            <center><input type="text" id="lname" name="lname"><br></center><br>
            <center><label for="StudentID" style="color: white;">Student ID:</label><br></center>
            <center><input type="text" id="StudentID" name="StudentID"><br></center><br>
            <center><label for="Email" style="color: white;">Email:</label><br></center>
            <center><input type="text" id="Email" name="Email"><br></center><br>
            <center><label for="Pword" style="color: white;">Password:</label><br></center>
            <center><input type="text" id="Pword" name="Pword"><br></center><br>
            <center><input type="submit" value="Submit"><br><br></center>
        </form>
        
          

    </body>
</html>